<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="cn" connectionString="Server=localhost;Database=ClaribetSpa;Integrated Security=true;"
   providerName="System.Data.SqlClient" />
  <add name="Capa_Presentacion.Properties.Settings.ClaribetSpaConnectionString"
   connectionString="Data Source=localhost;Initial Catalog=ClaribetSpa;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>